body{
    font-family: 'Lato', sans-serif;
    

}

.top-banner{
    font-size: 13px;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
}

.hamburger{
    width:15px;
    height:12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    background-image: url("hamburger.jpg");
}


.menu{
    display: inline-block;
    text-align: left;
    

}

.dates{
    letter-spacing: 1px;
    display: inline-block;
    padding-left: 700px;
    
    text-align: center;

}

.date2{
    letter-spacing: 1px;
    display: inline-block;
    padding-right: 700px;
    opacity: 0.2;
}


.order-button{    
    padding: 7px;
    display: inline-block;
    width: 25spx;
    height: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-radius: 25px;
    border-collapse: separate;
    border-spacing: 100px,100px;  
    

}

.title{
    padding-top: 150px;
    font-size: 50px;
    text-align: center;
    opacity: 0.8;
}

.under-title{
    text-align: center;
    padding-top: 5px;
    opacity: 0.5;
    padding-bottom: 100px;
}


.content{
    padding-top: 70px;
    background-color: #f2f2f2;
}

.date{
    text-align: center;
    font-size: 12px;
    opacity: 0.3;
}

.text1{
    padding-top: 20px;
    text-align: center;
    opacity: 0.5;
    padding-bottom: 50px;
}

.image{
    display: block;
    margin: auto;
    width:570px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("dump.png")
}

.text2{
    text-align: center;
    padding-top: 50px;
    opacity: 0.6;
}

.threedots{
    text-align: center;
    letter-spacing: 6px;
    font-size: 40px;
    opacity: 0.5;
    padding-top: 20px;
    padding-bottom: 80px;
}