$button-height: 95px;
$button-width: 450px;
$button-width1090: 380px;
$button-height1090: 85px;
$button-border-radius: 5px;
$button-color: #fcfcfc;
$button-hover-color: #f2f2f2;
$button-size: 50px;
$font-color: #fff;
$text-font: 16px;
$text-font1090: 14px;